<a href="https://colab.research.google.com/github/anwarsan/Data-Science/blob/main/%5BLS_DS_5%5D_Advanced_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Function Python

In [ ]:
def func1():
  print("Hellow!!")

func1()

Hellow!!

In [ ]:
def my_function():
  print("Hello inside a function")

my_function()

Hello inside a function

##Arguments

In [ ]:
def daftar_nama(fname,lname):
  print(fname, lname)

daftar_nama("Taylor","Fischer")
daftar_nama("Anwar","San")

Taylor Fischer
Anwar San

In [ ]:
def my_function(fname):
  print(fname + "Fischer")

my_function("Anwar")
my_function("Lautner")
my_function("Taylor")

AnwarFischer
LautnerFischer
TaylorFischer

In [ ]:
def my_function(fname, lname):
  print(fname + " "+ lname)

my_function("Taylor", "Lautner")

Taylor Lautner

##Arbitrary Arguments (Args)

In [ ]:
def print_peserta(*peserta):
  print("Peserta Ketiga:", peserta[2])

print_peserta("Alpha", "Gamma", "Delta", "Anwar")

Peserta Ketiga: Delta

In [ ]:
def dftr_pst(*nama):
  urutan = ["pertama","kedua","ketiga","keempat","kelima"]
  for i in nama:
    for j in urutan:
        print( j,i)

dftr_pst("Anwar", "Amor", "Rofik","Daffa","Fitri")

pertama Anwar
kedua Anwar
ketiga Anwar
keempat Anwar
kelima Anwar
pertama Amor
kedua Amor
ketiga Amor
keempat Amor
kelima Amor
pertama Rofik
kedua Rofik
ketiga Rofik
keempat Rofik
kelima Rofik
pertama Daffa
kedua Daffa
ketiga Daffa
keempat Daffa
kelima Daffa
pertama Fitri
kedua Fitri
ketiga Fitri
keempat Fitri
kelima Fitri

In [ ]:
def live_sesh(*livesesh):
  for i in livesesh:
    print("Live session hari ini:", i)

live_sesh("Advanced Python Foundations", "Python Function", "DataFrame")

Live session hari ini: Advanced Python Foundations
Live session hari ini: Python Function
Live session hari ini: DataFrame

In [ ]:
def live_sesh(*livesesh):
    print("Live session hari ini:", livesesh[1])

live_sesh("Advanced Python Foundations", "Python Function", "DataFrame")

Live session hari ini: Python Function

##Keyword Arguments

In [ ]:
def data_peserta(nama,alamat,program):
  print("Nama Peserta:", nama)
  print("Alamat Peserta:", alamat)
  print("Program Peserta:", program)

data_peserta(program="Data Science", nama= "Amor", alamat="Jakarta")

Nama Peserta: Amor
Alamat Peserta: Jakarta
Program Peserta: Data Science

##Arbitrary Keyword Arguments (Kwargs)

In [ ]:
def data_pst(**data):
  print("Nama Peserta:", data["nama"])
  print("Prodi Peserta:", data["prodi"])
  print("Program Peserta:", data["program"])
  print("Asal Universitas:", data["univ"])

data_pst(nama= "Rofik", program="Data Science", prodi="Teknik Informatika", univ="UNS")

Nama Peserta: Rofik
Prodi Peserta: Teknik Informatika
Program Peserta: Data Science
Asal Universitas: UNS

##Default Parameter Value

In [ ]:
def data_pst(nama="Hibban"):
  print("Nama Peserta:", nama)

data_pst()
data_pst("Rofik")

Nama Peserta: Hibban
Nama Peserta: Rofik

In [ ]:
def dftr_pst(nama,prodi,track="Data Science"):
  print("Nama Peserta:", nama)
  print("Prodi Peserta:", prodi)
  print("Program Peserta:", track, "\n")

dftr_pst("Rofik","Teknik Informatika")
dftr_pst("Hibban","Sistem Informasi","Data Science")

Nama Peserta: Rofik
Prodi Peserta: Teknik Informatika
Program Peserta: Data Science

Nama Peserta: Hibban
Prodi Peserta: Sistem Informasi
Program Peserta: Data Science

##List sebagai argumen

In [ ]:
def materi(mat):
  for i in mat:
    print("Daftar Materi:", i)

mat = ["Intro to Data Science", "SQL", "Basic Python Foundations","Advanced Python Foundations"]
materi(mat)

Daftar Materi: Intro to Data Science
Daftar Materi: SQL
Daftar Materi: Basic Python Foundations
Daftar Materi: Advanced Python Foundations

##Return Values

In [ ]:
def tambah(a,b):
  c = a + b
  return c

a = 50
b = 30
hasil = tambah(a,b)
print(hasil)

80

In [2]:
def luas_persegi_pjg(panjang, lebar):
  luas = panjang*lebar
  return luas

panjang= 9
lebar = 5
luas_pp = luas_persegi_pjg(panjang,lebar)
print(luas_pp)

45

In [ ]:
a=70
b=50

In [ ]:
print(tambah(a,b))

120

In [ ]:
def penjumlahan(a,b):
  c = a + b
  return c

a = 40
b = 30
hasil = penjumlahan(a,b)
print("Hasil penjumlahan:", hasil)

Hasil penjumlahan: 70

##Lambda

In [ ]:
x = lambda a,b:a+b
print(x(12,2))

14

In [ ]:
x=lambda umur:"bukan tua" if umur > 20 and umur < 50 else "tua"

print(x(70))

tua

In [ ]:
x = lambda a: a + 10
print(x(8))

18

In [ ]:
x = lambda a,b: a/b
print(x(10,5))

2.0

##Math Functions

In [ ]:
import math
x = math.ceil(28.7) #Buletin keatas
y = math.floor(28.7) #Buletin kebawah
z = math.sqrt(81) #Akar 2
o = math.pi #Pi
p = math.pow(4,3) #Pangkat
q = math.fsum([1, 2, 3, 4, 5]) #Sum of list
r = math.factorial(5) #Factorial
print(x, y, z, o, p, q, r)

29 28 9.0 3.141592653589793 64.0 15.0 120

##OOP dan Class

In [ ]:
class cal():
    def __init__(self,a,b):
        self.a=a
        self.b=b

    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a//self.b
    def sub(self):
        return self.a-self.b

calc1 = cal(20,5)
tambah = calc1.add()
kurang = calc1.sub()
kali = calc1.mul()
bagi = calc1.div()

print("Hasil Tambah:", tambah)
print("Hasil Kurang:", kurang)
print("Hasil Kali:", kali)
print("Hasil Bagi:", bagi)

Hasil Tambah: 25
Hasil Kurang: 15
Hasil Kali: 100
Hasil Bagi: 4

In [ ]:
class Person:
  def __init__(self, name, age):
        attributtes
        methods

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

data = Person("Dwi", 20)

print(data.name)
print(data.age)

Dwi
20